<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>TicTacToe</title>
    <meta charset="utf-8">
	<meta name="author" content="AnikeSadia">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="static/AppStyle.css">
    
    

</head>
<body>

    <div class="model_desc">
    <h1> ***TicTacToe***</h1><br>
    <h2>Lets Play Tic-Tac-Toe </h2><br>

</div>



    <h3>Select Mode</h3>

    <form action="{{url_for('play')}}" method="post">


  
        <select name = "dropdown" id="mySelect" onchange="playerselect()" class="Input" >
            
            <option value="0"  class="Input">Select option</option>

            <option value="1"  class="Input">Single Player Mode</option>
          
            <option value="2"  class="Input">Double Player Mode</option>
          
            <option value="3"  class="Input">Bot Vs Bot  Mode</option>
          
          </select><br><br>

        


        
          <p>Enter Name For  <span id="P1"></span>   <input class="Input" type="text" name="P1name" placeholder="Player 1" required/></p>
          <p>Enter Name For <span id="P2"></span>   <input class="Input" type="text" name="P2name" placeholder="Player 2" required/></p>
          


          <script>

            function playerselect() {
            
                var x = document.getElementById("mySelect").value;
                if (x =='1'){
                    document.getElementById("P1").innerHTML = 'Player 1';
                    document.getElementById("P2").innerHTML = 'Bot 1';
                  
                }

                if (x =='2'){
                    document.getElementById("P1").innerHTML = 'Player 1';
                    document.getElementById("P2").innerHTML = 'Player 2';
                  
                }
                if (x =='3'){
                    document.getElementById("P1").innerHTML = 'Bot 1';
                    document.getElementById("P2").innerHTML = 'Bot 2';
                  
                }
            
            }
            
            </script>
           

        <input type="submit" class="pred-btn"> Click Submit to Play </input>

</form>




</body>
</html>